<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GraphPlotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <GraphPlotter.Properties.Settings>
            <setting name="FunctionType" serializeAs="String">
                <value>sin</value>
            </setting>
            <setting name="Amplitude" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimePeriod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PhaseShift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalShift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CenterX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CenterY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HorizontalZoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VerticalZoom" serializeAs="String">
                <value>1</value>
            </setting>
        </GraphPlotter.Properties.Settings>
    </userSettings>
</configuration>